body {
    padding: 0 7.5vw;
    margin: 0% auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial;
}

main {
    display: flex;
    flex-direction: column;
}
    
header {
    background-color:#1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
}

header p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: auto 12vw;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 1vw;
    text-decoration: none;
}

header .headerlinks {
    margin: auto 11vw auto 0;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.section1 #sectiontext1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
    width: 30vw;
}


.section1 img {
    width: 30vw;
    height: auto;
}

.section1 h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0vh .5vw 0vh 0vw;
}

.section1 p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0.5vh 0;
    padding-right: 3vw;
}

.section1 a {
    height: 2.9vh;
    width: 7.75vw;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #F9FAF8;
    background-color: #3882F6;
    margin: 0.5vh 0;
    line-height: 2.9vh;
    border-radius: 5px;
    text-decoration: none;
}

.section2 {
    background-color: white;
    height: 35vh;
}

.section2 h2 {
    text-align: center;
}

.section2 .pictextgroup {
    display: flex;
    flex-direction: row;
}

.section2 .divpic {
    height: 5em;
    width: 5em;
    border: 1px solid #3882F6;
}

.section3 {
    background-color: #e5e7eb;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.section4 {
    background-color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .bluebox4 {
    background-color: #3882F6;
    border-radius: 5px;
    width: 40vw;
}

footer {
    background-color: #1f2937;
    height: 7.5vh;
    text-align: center;
}